ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

img {
    width: 15rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

li:hover img {
    transform: scale(1.05);
}

li:hover {
    cursor: pointer;
}

/*Mensaje: pelicula no disponible */
h2 {
    color: white;
    margin: auto;
    border: 1px solid white;
    padding: 2rem;
}