.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 25rem;
    outline: none;
    margin-right: 1rem;
    border: none;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}